######################################################
# Ignoring various files from the IDE(Visual Studio) #
######################################################

*.class
*.jar
/SRC/Scanner/BeteabScanner/nbproject/private/